<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>InspiraSalud</span>
  <span class="example-spacer"></span>

  <button mat-button>Chat</button>
  <mat-menu>
  </mat-menu>

  <button mat-button>Inspectors</button>
  <mat-menu>
  </mat-menu>

  <button mat-button>Reviews</button>
  <mat-menu>
  </mat-menu>


  <button mat-button>My Home Profile</button>
  <mat-menu>
  </mat-menu>

  <button mat-button>Restaurants</button>
  <mat-menu>
  </mat-menu>


  <span>
    <app-language-switcher/>
  </span>
</mat-toolbar>
