
<!-- Issue catalogue -->
<div class="table-wrapper">
  <h3>{{ 'title.issues' | translate }}</h3>

  <!--Add/Edit Form-->


  <app-issue-resolution-create-and-edit (editCanceled)="onCancelEdit()"
                               (issueAdded)="onIssueAdded($event)"
                               (issueUpdated)="onIssueUpdated($event)"
                               [editMode] = "isEditMode"
                               [issue]="issueData"/>
  <!-- Data Table -->



  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"
         matSort matSortActive="name" matSortDirection="asc">


    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>
        <mat-checkbox (change)="$event ? toggleAllRows() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- Position Column -->


    <ng-container matColumnDef="id">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> {{ 'issue.id' | translate }} </th>
      <td *matCellDef="let element" mat-cell>{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ 'issue.description' | translate }}</th>
      <td *matCellDef="let element" mat-cell>{{ element.description }}</td>
    </ng-container>

    <ng-container matColumnDef="issue_to_solve">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ 'issue.issue_to_solve' | translate }}</th>
      <td *matCellDef="let element" mat-cell>{{ element.issue_to_solve }}</td>
    </ng-container>

    <ng-container matColumnDef="inspection_date">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ 'issue.inspection_date' | translate }}</th>
      <td *matCellDef="let element" mat-cell>{{ element.inspection_date }}</td>
    </ng-container>

    <ng-container matColumnDef="inspection_area">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ 'issue.inspection_area' | translate }}</th>
      <td *matCellDef="let element" mat-cell>{{ element.inspection_area }}</td>
    </ng-container>

    <ng-container matColumnDef="inspection_status">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ 'issue.inspection_status' | translate }}</th>
      <td *matCellDef="let element" mat-cell>{{ element.inspection_status }}</td>
    </ng-container>

    <ng-container matColumnDef="inspector">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ 'issue.inspector' | translate }}</th>
      <td *matCellDef="let element" mat-cell>{{ element.inspector }}</td>
    </ng-container>

    <ng-container matColumnDef="personal_responsible">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ 'issue.personal_responsible' | translate }}</th>
      <td *matCellDef="let element" mat-cell>{{ element.personal_responsible }}</td>
    </ng-container>

    <ng-container matColumnDef="recommendation">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ 'issue.recommendation' | translate }}</th>
      <td *matCellDef="let element" mat-cell>{{ element.recommendation }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef mat-header-cell> {{ 'issue.actions' | translate }}</th>
      <td *matCellDef="let element" mat-cell>
        <a (click)="onEditItem(element)" href="javascript:void(0)"><mat-icon>edit</mat-icon></a>
        <a (click)="onDeleteItem(element)" href="javascript:void(0)"><mat-icon>delete</mat-icon></a>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns:displayedColumns;"  [ngClass]="{'editable-row': issueData.id === row.id }" (click)="selection.toggle(row);" mat-row></tr>


  </table>
  <!-- Paginator child component-->
  <mat-paginator [pageSizeOptions]="[5, 10, 15]" [pageSize]="5" showFirstLastButtons></mat-paginator>
</div>

