<!-- Create and Edit Form -->
<h4>{{ editMode ? 'Edit Issue' : 'New Issue' }}</h4>
<div class="form-section">

  <form (submit)="onSubmit()" #issueForm='ngForm' class="form-row">
    <mat-form-field>
      <input matInput placeholder="Issue to solve" name="issue_to_solve" required [(ngModel)]="issue.issueToSolve">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Description" name="description" required [(ngModel)]="issue.description">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Inspection Date" name="inspection_date" required [(ngModel)]="issue.inspectionDate">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Inspection Area" name="inspection_area" required [(ngModel)]="issue.inspectionArea">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Inspection Status" name="inspection_status" required [(ngModel)]="issue.inspectionStatus">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Inspector" name="inspector" required [(ngModel)]="issue.inspector">
    </mat-form-field>
    <mat-form-field id="personal-responsible-form-field">
      <input matInput placeholder="Personal responsible" name="personal_responsible" required [(ngModel)]="issue.personalResponsible">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Recommendation" name="recommendation" required [(ngModel)]="issue.recommendation">
    </mat-form-field>
    <ng-container>
      @if (editMode === true) {
        <button mat-raised-button color="primary">Update</button>
        <button mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
      }
      @else {
        <button mat-raised-button color="primary">Add</button>
      }
    </ng-container>
  </form>

</div>
